<%- include('inc/header.ejs') %>
<%- include('inc/nav.ejs') %>
<%- include('inc/sidebar.ejs') %>
<main id="main">
    
  <section style="min-height: 100vh;">
    <div class="row">
      <div class="col-md-12">
        <form id="form" action="" method="post">
          <div class="row">
          <div class="col-8">
            <input id="create-room" class="form-control" placeholder="Room Name" name="room" autocomplete="off" />
          </div>
          <div class="col-4">
            <button class="btn btn-prime-grd">Create Room</button>
          </div>
          </div>
        </form>
      
        <h3>Avalable Rooms</h3>
        <div class="row" id="room-container">
    
          <% for (const room of roomsObj) { %>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <p class="card-text py-3">Room Name: <b><%= room.room_name %></b></p>
                  Room Admin Id : <%= room.first_name %> <%= room.created_by %>
                  <div class="d-grid gap-2 d-md-block">
                    <a href="/chat-v2/<%= room.id %>" class="btn-sm btn btn-danger">Enter</a>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </section>

  <script src="/socket.io/socket.io.js"></script>
    
  <script>
    const socket = io()
    
    const roomContainer = document.getElementById('room-container')
  
    socket.on('room-created', room => {
    // const roomElement = document.createElement('div')
    // roomElement.innerText = room
    const roomLink = document.createElement('a')
    roomLink.href = `/chat/${room}`
    roomLink.innerText = room
    // roomContainer.append(roomElement)
    roomContainer.append(roomLink)
    roomContainer.append(document.createElement('br'))
  })
  </script>
</main>

<%- include('inc/footer.ejs') %>
