
<%- include('../inc/header.ejs') %>
<%- include('../inc/nav.ejs') %>
<%- include('../inc/sidebar.ejs') %>
<link rel="stylesheet" href="/style.css">  
  
<main id="main">
    <div class="pagetitle">
        <h1>All Posts</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/all-posts">All Posts</a></li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
    <section style="min-height: 100vh;">
     <h5 class="card-title text-prime">All Posts</h5>
              
              <div class="row">
                <% for (const pst of allPosts) { %>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><%= pst.title %> </h5>
                      <% if(pst.image){ %> 
                        <img style="width: 100%; height: 200px; object-fit: contain;" src="/media/posts/<%= pst.image %>" alt="<%= pst.image %>">
                      <% } %>
                      <% if(!pst.image){ %> 
                        <div style="width: 100%; height: 200px; object-fit: contain;"></div>
                      <% } %>
                      <p class="card-text">Content: <b><%= pst.body %></b></p>
                     
                      <div class="d-grid gap-2 d-md-block">
                        <a href="/all-posts/remove/<%= pst.id %>" class="btn-sm btn btn-danger">Delete</a>
                        <a href="/all-posts/comments/<%= pst.id %>" class="btn-sm btn btn-primary">Comments</a>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
    </section>
</main>
  <%- include('../inc/footer.ejs') %>